# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Slate SNAP
Comment=main
GenericName=Slate Digital Currency QT client main network
Exec=slatecore.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/slate.png
MimeType=x-scheme-handler/slate;
Categories=X-Finance;X-Games;
Keywords=internet;slate;xslate;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
