# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Slate Daemon SNAP
Comment=testnet
GenericName=Slate Digital Currency Daemon Client testnet network
Exec=slatecore.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/slated_testnet.png
MimeType=x-scheme-handler/slate;
Categories=X-Finance;X-Games;
Keywords=internet;slate;xslate;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
