# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=0.1.03
Encoding=UTF-8
Name=Slate Qt
Icon=${SNAP}/slate128.png
MimeType=x-scheme-handler/slate;
Exec=ion %u
Terminal=false
Categories=Office;Finance;Cryptocurrency;
Comment=Slate Digital Currency QT 
Keywords=internet;slate;main;qt;crypto;currency;snap;snapcraft;
Name[de_DE]=slate.desktop.desktop
